/* TERMINAL VARIABLES */

$height : 16px;
$width : 16px;
$radius : 8px;
$red-color : rgba(227, 53, 34);
$orange-color : rgb(255, 165, 0);
$green-color : rgb(60, 179, 113);
$white-color : #FFFFFF;


/* TERMINAL LINK */

.t_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* TERMINAL INPUT */


input {
    // visibility: hidden;
    width: 100%;
    background: none;
    color: $white-color;
    border: none;
    border-left: .15em solid transparent;
    animation: blink-caret 4s step-end infinite;

    &:focus {
        background: none;         
        border: none;         
        outline-width: 0;
    }
}

@keyframes blink-caret {
    0% { border-color: transparent }
    5% { border-color: $white-color}
    10% { border-color: transparent }
    15% { border-color: $white-color}
    20% { border-color: transparent }
    25% { border-color: $white-color}
    30% { border-color: transparent }
    35% { border-color: $white-color}
    40% { border-color: transparent }
    45% { border-color: $white-color}
    50% { border-color: transparent }
    55% { border-color: $white-color}
    60% { border-color: transparent }
    65% { border-color: $white-color}
    70% { border-color: transparent }
    75% { border-color: $white-color}
    80% { border-color: transparent }
    85% { border-color: $white-color}
    90% { border-color: transparent }
    95% { border-color: $white-color}
    100% { border-color: transparent }
}


/* TERMINAL BUBBLES */

.bubble_red {
    height : $height;
    width : $width;   
    margin-left: 5px;
    border-radius : $radius;
    background-color : $red-color
}

.bubble_orange {
    height : $height;
    width : $width;
    margin-left: 5px;
    border-radius : $radius;
    background-color : $orange-color
}

.bubble_green {
    height : $height;
    width : $width;
    margin-left: 5px;
    border-radius : $radius;
    background-color : $green-color
}